<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="common-jumbotron">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="container">
                    <h1 th:text="#{jumbotron.title.text}">JumbotronMainTitle</h1>
                    <p class="lead" th:text="#{jumbotron.subtitle.text}"></p>
                </div>
            </div>
        </div>
    </div>
<div/>

</div>
</body>
</html>