        .jumbotron {
        background-image: url('http://www.planwallpaper.com/static/images/maxresdefault_YodSsVN.jpg');
        color: white;
        height 350px;
        margin-top: 20px;
        margin-bottom:20px;
           }

        .navbar-fixed-bottom {
        color: white;
        text-align: center;
        padding-top: 15px;
        font-weight: bold;
        background: #212121;
           }

           #heading-two{
           margin: 0px;
           }

            .main-body{
            margin-top: 20px;
            }

           .col-md-3 .light-color{
           background: #5D5C5A;
           height: 200px;
           }

           .col-md-3 .dark-color{
            background: #141416;
            height: 200px;
           }

           #buy-button{
             margin-top: 5px;
             margin-bottom: 100px;
             }