<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="common/header :: common-header"/>

</head>


<body>

<div class="container-fluid">
<div th:replace="common/jumbotron :: common-jumbotron"/>

<div class="container">
        <div class="row">
            <div class="col-md-12" style="background-color: beige">
                <h1 th:text="#{details.h1.text}"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="background-color: #333333">
                <div style="background-color: #28282A; margin: 5px; width: 506px; height: 320px;">
                    <img class="center-block" th:src="@{/images/wickedwitchprojectsmoon.png}"/>
                </div>
            </div>

            <div class="col-md-6" style="background-color: #586f6f">
                 <div style="background-color: #ededed; margin: 5px;">
                     <h2 th:text="#{details.h2.text}"></h2>
                     <p th:text="#{details.par.one}"></p>
                 </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <p id="buy-button"><a class="btn btn-primary btn-lg" href="#" role="button" th:text="#{button.buy.text}">Buy Now</a></p>
           </div>
       </div>
    </div>

   <div th:replace="common/footer :: common-footer"/>

</div>

<div th:replace="common/header :: end-scripts"/>

</body>
</html>