<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
        <div th:replace="common/header :: common-header"/>

</head>

<body>
<div class="container-fluid">

<div th:replace="common/jumbotron :: common-jumbotron"/>

<div class="row">
    <div class="col-md-12">
        <h2 id="heading-two" th:text="#{index.title.text}">TitleTwo</h2>
    </div>
</div>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.courseName}"></td>
            <td th:text="${product.price}"></td>
        </tr>
    </table>

<div class="main-body">
    <div class="row">
            <div class="col-md-3">
                <div class="light-color">
                 <p><a th:text="#{index.div.one}" href="/details/1"/></p>
                </div>
            </div>

        <div class="col-md-3 dark-color">
            <div class="dark-color">
                <p><a th:text="#{index.div.two}" href="/details/2"/></p>
            </div>
        </div>

        <div class="col-md-3 light-color">
            <div class="light-color">
                <p><a th:text="#{index.div.three}" href="/details/3"/></p>
            </div>
        </div>

        <div class="col-md-3 dark-color">
            <div class="dark-color">
                <p><a th:text="#{index.div.four}" href="/details/4"/></p>
            </div>
        </div>
    </div>
</div>

</div><!-- /.container -->

<div th:replace="common/header :: end-scripts"/>


<div class="container" th:replace="common/footer :: common-footer"/>

</body>
</html>