<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="common/header :: common-header"/>
    <title>Secured Content</title>
</head>
<body>

<div class="container" style="height: 100vh;">
    <div class="row">
        <div class="col-md-12">
            <h1>Spring Security Demo</h1>
        </div>
    </div>

    <div class="row" sec:authorize="isAuthenticated()">
        <div class="col-md-10 col-md-offset-2">
            <h2 style="color:green">User is Logged In</h2>
            <p sec:authentication="principal.username">username</p>
        </div>
    </div>

    <div class="row" sec:authorize="!isAuthenticated()">
        <div class="col-md-10 col-md-offset-2">
            <h2 style="color:red">User is Logged Out</h2>
        </div>
    </div>

    <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="col-md-10 col-md-offset-2">
            <h2>User Has Role Admin</h2>
        </div>
    </div>

    <div class="row" sec:authorize="hasRole('ROLE_USER')">
        <div class="col-md-10 col-md-offset-2">
            <h2>User Has Role User</h2>
        </div>
    </div>
</div>


    <div th:replace="common/footer :: end-scripts"/>
</body>
</html>